@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    <strong>
        Nome:
    </strong>
    @ViewData["Name"]
</p>
<address>
    <strong>
        Email:
    </strong>
    @ViewData["Email"]
</address>
